<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Event</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
   <div class="navbar">
     <h1>Add Events</h1>
   </div> <br></br> 
   <div class="add-event-container"> <br></br> 
      <form>
          <label>Event Id:</label> <input type="text" id="eventId"><br></br>
          <label>Event Name:</label> <input type="text" id="eventname"><br></br> 
          <label>Date:</label> <input type="text" placeholder="yyyy-mm-dd" id="date"><br></br> 
          <label>Description:</label> 
          <input type="text" id="description"><br></br> 
         
          <button id="savebtn" type="button">Save</button> 
          <button id="cancelbtn" class="CancelBtn" type="button">Cancel</button> 
      </form>
    </div>


    <script src="add_event.js"></script>
    
</body>
</html>